body{
	color: #000;
	background: #FAFAFA;
	padding-bottom: 80px;
}
.container-fluid{
	padding-right: 0;
}
.nav{
	font-size: 12px;
}
.nav>li>a {
    padding-right: 0;
    padding-left: 0;
}
.nav>li {
    padding-right: 20px;
    padding-left: 20px;
}
.navbar{
	border-width: 0 0 1px;
	margin-bottom: 0;
}
.center{
	text-align: center;
}
.bold{
	font-weight: 600;
}
.uppercase{
	text-transform: uppercase;
}
.navbar-default {
    background-color: #fff
}
.navbar-default .navbar-brand {
    color: #000;
    font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #fff;
}
.nav>li>a {
    border-bottom: 2px solid #fff;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav>li>a:focus, .nav>li>a:hover{
	background: #fff;
	border-bottom: 2px solid #FE7929;
    color: #FE7929 !important;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #FE7929;
    color: #FE7929 !important;
    margin-bottom: -2px;
}
a {
    color: #000;
    text-decoration: none;
}

.profile {
    float: right;
    height: 50px;
    padding: 8px 15px;
    line-height: 20px;
    font-size: 12px;
    border-left: 1px solid #ddd;
}
.wallet{
	float: right;
	height: 50px;
	text-align: left;
	line-height: initial;
	line-height: 14px;
	padding: 10px 15px;
	border-left: 1px solid #ddd;
}
.img-lg{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background: #ddd;
	display: inline-block;
	border: 1px solid #fff;
	margin-bottom: 12px;
}
.img-sm{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #ddd;
	display: inline-block;
	border: 1px solid #fff
}
.img-xs{
	height: 26px;
	width: 26px;
	border-radius: 50%;
	background: #ddd;
}
.img-1, .img-2, .img-3{
	position: relative;
}
.img-1{
	z-index: 99;
	right: -15px;
}
.img-2{
	z-index: 999
}
.img-3{
	z-index: 99;
	left: -15px;
}
.well{
	padding-left: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	margin: 0
}
.btn-yellow{
	background: #FFDF79;
    border: 0;
    color: #AD8810;
    font-size: 10px;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 2px;
    text-transform: uppercase;
    height: 24px
}
.session div{
	line-height: 2
}
td div{
	line-height: 1.5 !important;
}
.black{
	color: #000;
}
.upper-left{
	border-bottom: 2px solid #F4F4F4;
	border-right: 2px solid #F4F4F4;
	background: #fff;
	padding-left: 60px;
	padding-top: 15px;
	min-height: 337px;
}
.upper-right{
	border-bottom: 2px solid #F4F4F4;
	padding-left: 60px;
	padding-top: 15px;
	min-height: 337px;
}
.bottom-left{
	padding-left: 60px;
	padding-top: 15px;
	padding-right: 8px;
	min-height: 337px;
}
.bottom-left td{
	padding: 0 6px;
	line-height: 1.3
}
.bottom-left td div{
	line-height: 1.3 !important;
}
.border-right{
	border-right: 1px solid #ddd;
}
.table-nested{
	margin: 10px 0;
}
.bottom-right{
	padding-left: 8px;
	padding-top: 15px;
	padding-right: 60px;
	min-height: 337px;
}
.bottom-right .table-nested td{
	line-height: 1
}
small{
	color: #8C8C8C;
}
.clear-left{
	padding-left: 16px
}
hr {
    margin-top: 18px;
    margin-bottom: 6px;
    border: 0;
    border-top: 1px solid #eee;
}
.rounded {
    box-shadow: 1px 1px 6px #eee;
    background: #fff;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 30px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 52px;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  margin-right: 250px;
  transition: margin-right .5s;
  position: relative;
  margin-top: 1px;
}
.toggleButton{
	font-size:20px;
	cursor:pointer;
	position: absolute;
	top: 8px;
	right: 8px
}
.sidenav{
	margin-top: 1px;
}
.active{
	color: #333;
    background-color: transparent;
    border-bottom: 2px solid #FE7929 !important;
    color: #FE7929 !important;
    margin-bottom: -2px;
    border-radius: 0 !important
}	
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media (min-width: 768px){
.navbar-nav {
	border-right: 0;
    float: none;
    margin: 0;
}}